.card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 100px;
    padding-left: 0;
    text-align: center;
    flex-wrap: wrap;
    
}
.card-box {
    border: 2px solid #1b1b1b;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 5px 5px #4e4d4d;
    max-width: 200px;
}
.card-box img {
    width: 120px;
    height: 160px;
    object-fit: contain;
    margin-bottom: 15px;
}
.card-footer {
    display: flex;
    justify-content: center;
    padding-top:10px;
}
.card-box h4 {
    text-align: center;
}
